.block{
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    font-size: clamp(16px, 1.5vw, 30px);
    width: 75vw;
    max-width: 1500px;
}

.titlePage{
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 15vh;
}

.essayTitle{
    font-size: clamp(25px, 4vw, 50px);
    font-weight: bold;
}

.titleAddOns{
    font-size: clamp(20px, 2vw, 34px);
    margin-bottom: 5vh;
}

.subheading{
    margin-top: 15vh;
    font-size: clamp(22px, 2.3vw, 40px);
    text-align: center;
    margin-bottom: 5vh;
}

.paragraph{
    text-indent: 2vw;
    margin-bottom: 1vh;
}

.citation{
    margin-left: 3vw;
    text-indent: -3vw;
}
